Button{
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-pref-width: 160;
    -fx-pref-height: 50;
    -fx-text-fil: bold;
    -fx-font-size: 16;
}
Label{
    -fx-text-fill: bold;
    -fx-font-size: 20;
}
