Button{
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-pref-width: 160;
    -fx-pref-height: 50;
    -fx-text-fill: #02377D;
    -fx-text-width: bold;
    -fx-font-size: 16;
}
Label{
    -fx-text-fill: #02377D;
    -fx-font-size: 20;
    -fx-text-weight: bold;
}
.Labelstext{
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 20;
    -fx-text-weight: bold;
}
TabPane{
    -fx-background-color: #2268C6;
}
